*{
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    margin: 0 auto;
    max-width: 100%;
    background-color: #EFBBAA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    height: 56em;
    width: 30em;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.5em;
    box-shadow: 0 1em 0.2em rgb(63 14 39 / 33%);
}

.phone_screen {
    height: 52em;
    width: 28em;
    background-color: #8BD6F1;
    border-radius: 2.5em;
    margin-bottom: 2em;
}
.phone_screen::after{
    content: '';
    width: 10em;
    height: 2em;
    background-color: #F3F3F3;
    position: absolute;
    top: 5.5em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
}
.msgs_wrapper {
    padding: 1em;
    height: 96.1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 2.5em;
    transition: max-height 0.5s ease-out;
    overflow-y: scroll;
    scroll-behavior: smooth;

}
.msgs_wrapper::-webkit-scrollbar {
    width: 0;
}

.msgs_inner {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.msg.msg_to {
    background-color: #E9E6EC;
    border-radius: 1em;
    padding: 0.4em;
}

.msg {
    width: auto;
    margin-bottom: 0.5em;
    font-size: 1.6em;
}

.msg>.msg_to {
    background-color: #E9E6EC;
    border-radius: 1em;
    padding: 0.4em 0.6em;
    font-family: monospace;
    width: fit-content;
}
.msg.msgs_from {
    display: flex;
    justify-content: flex-end;
}
.msg>.msg_from {
    background-color: #27AEEE;
    border-radius: 1em;
    padding: 0.4em 0.6em;
    font-family: monospace;
}
@keyframes bubbleRightToLeft {
    0% {
        opacity: 0;
        transform: scale(0.1) translateX(-100vw);
    }
    50%{
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bubbleLeftToRight {
    0% {
        opacity: 0;
        transform: scale(0.1) translateX(100vw);
    }
    50%{
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}



.loader {
    display: flex;
    gap: 0.4em;
}



.circle {
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    opacity: 0.2;
    animation: fade 1.5s infinite;
  }
  
  @keyframes fade {
    0% {
      opacity: 0.2;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.8;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.2;
    }
  }



body {
    font-size: 1.5vh; 
  }
